<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newdev.beta.rustv">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/apple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/apple"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPlayer">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.hellokhdev.sovary.rustv.splash_screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>

                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity
            android:name="com.hellokhdev.sovary.rustv.watch.WatchMP4Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout"
            ></activity>
        <activity
            android:name="com.hellokhdev.sovary.rustv.settings.Settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout"
            ></activity>
        <activity
            android:name="com.hellokhdev.sovary.rustv.watch.WatchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout"
            ></activity>
        <activity
            android:name="com.hellokhdev.sovary.rustv.tvprogram.tvprogramm"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout"
            ></activity>
        <activity android:name="com.hellokhdev.sovary.rustv.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>